{
  "1": {
    "EXCHANGE": "BITSTAMP",
    "KEY": "",
    "SECRET": "",
    "USERNAME": "",
    "FUNDNAME": "2/20"
  },
  "2": {
    "EXCHANGE": "BINANCE",
    "KEY": "",
    "SECRET": "",
    "FUNDNAME": "ALT_COIN"
  },
  "3": {
    "EXCHANGE": "BITFINEX",
    "KEY": "",
    "SECRET": "",
    "FUNDNAME": "BFX"
  },
  "4": {
    "EXCHANGE": "COLDWALLET",
    "FUNDNAME": "COLDWALLET"
  }
}
